{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card shadow mt-4 mb-2" style="min-width: 350px; width: 100%;">
		<div class="card-header d-flex justify-content-between background-template-color text-template-color font-italic">
			<h5>Caja</h5>
		</div>
		<div class="card-body pt-2">
			<div class="d-flex justify-content-between mb-1">
				<div class="input-group w-50 shadow-sm ml-0 mb-1">
					<input id="inputToSearch" type="text" class="form-control form-control-sm shadow-sm" onchange="" onkeyup="this.onchange()" placeholder="Buscar movimiento...">
				</div>
				<button class="btn btn-sm background-template-color2 text-template-background shadow-sm mb-1" type="button" onclick=""><i class="fas fa-plus-circle"></i> Nuevo</button>
			</div>
			<div id="containerTable" style="max-height: 75vh;">
				<table class="table table-striped">
					<thead class="background-template-color text-template-color" style="">
						<tr>
							{# <th class="text-left" scope="col" id="priceListTableColDescription" >Descripcíon</th> #}
							{# <th class="text-left notShowInPhone col-5" scope="col" id="priceListTableColDetail" >Detalle</th> #}
							{# <th class="text-left notShowInPhone" scope="col" id="priceListTableColBrand" >Marca</th> #}
							<!--th class="text-left notShowInPhone" scope="col" id="" >Rubro</th-->
							<!--th class="text-center notShowInPhone" scope="col" id="" ></th-->
							{# <th class="text-right notShowInPhone" scope="col" id="priceListTableColIva"  >IVA</th> #}
							{# <th class="text-right notShowInPhone" scope="col" id="priceListTableColCost" >Costo</th> #}
							{# <th class="text-right" scope="col" id="priceListTableColAmount" >Importe</th> #}
							<!--th class="text-right notShowInPhone" scope="col" id="" >Descuento</th-->
							{# <th class="text-center" style="min-width: 7em;" scope="col" id="priceListTableColAccion">Acción</th> #}
						</tr>
					</thead>
					<tbody id="tbodyMovements">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% block script %}
<script type="text/javascript" src="{{ path_for('Start')}}scripts/index.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start')}}scripts/caja.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>
<script type="text/javascript">
	$(document).ready( function(){
		let heightwindow = ($(document).height() * 65) / 100;
		$('#containerTable').css('height', heightwindow+'px');
	});
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= ($(this)[0].scrollHeight) - 4) {
			loadPriceList();
		}
	});
</script>
{% endblock %}
{% endblock %}