{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card shadow mt-4 mb-2">
		<div class="card-header d-flex justify-content-between background-template-color text-template-color">
			<h5 class="font-italic">Facturación batch</h5>
			<button class="btn btn-sm background-template-color2 text-template-background" onclick="downloadFeeService()"><i class="fas fa-cloud-download-alt"></i> Exportar</button>
		</div>
		<div class="card-body pt-2">
			{# <div class="d-flex justify-content-between mb-3">
				<div class="input-group" style="max-width: 400px;">
					<input id="inputToSearch" type="text"  class="form-control form-control-sm shadow-sm m-1" onchange="searchClientFeeService(this)" onkeyup="this.onchange()" placeholder="Buscar cliente...">
				</div>
				<div class="d-flex flex-row-reverse">
					<a class="btn btn-sm background-template-color2 text-template-background shadow-sm m-1" href="{{ path_for('Clients')}}" style="text-decoration: none;">Nueva cuota&nbsp;<i class="far fa-share-square"></i></a>
					<button type="button" class="btn btn-sm background-template-color2 text-template-background shadow-sm m-1" data-toggle="modal" data-target="#modalInvoiceAllFeeService" data-toggle="tooltip" data-placement="bottom" title="Se facturaran todos las cuotas facturables a la fecha.">
						Facturar &nbsp; <i class="fas fa-receipt"></i>
					</button>
				</div>
			</div> #}
			<div class="d-flex justify-content-between mb-1">
				<div class="input-group w-50 ml-0 mb-1">
					<input id="inputToSearch" type="text" class="form-control form-control-sm shadow-sm" onchange="searchClientFeeService(this)" onkeyup="this.onchange()" placeholder="Buscar Cliente...">
				</div>
				<div>
					{# <a id="goClients" class="d-none" href="{{ path_for('Clients')}}" ></a> <!-- OCULTO --> #}
					<button class="btn btn-sm background-template-color2 text-template-background shadow-sm mb-1" type="button" onclick="goToClients()"> Nueva cuota <i class="far fa-share-square"></i></button>
					<button class="btn btn-sm background-template-color2 text-template-background shadow-sm mb-1" type="button" data-toggle="modal" data-target="#modalInvoiceAllFeeService" data-toggle="tooltip" title="Se facturaran todos las cuotas facturables a la fecha."><i class="fas fa-plus-circle"></i> Facturar</button>
				</div>
			</div>
			<div id="containerTable" style="max-height: 75vh;">
				<table class="table table2 table-striped">
					<thead class="background-template-color text-template-color">
						<tr>
							<th class="text-right col-2" scope="col" style="">Cliente</th>
							<th class="text-right col-2" scope="col" style="">Servicio</th>
							{# <th class="text-right" scope="col" style="">Período</th> #}
							{# <th class="text-right" scope="col" style="">IVA</th> #}
							<!--th class="text-right toHidden2" scope="col"></th-->
							{# <th class="text-right" scope="col" style="width: 8%;">Costo</th> #}
							<th class="text-right" scope="col" style="">Importe</th>
							<th class="text-right" scope="col" style="">UI</th>
							<th class="text-center" scope="col" style="">Fecha</th>
							<th class="text-center" scope="col" style="">Vigente</th>
							<th class="text-center" style="" scope="col">Acción</th>
						</tr>
					</thead>
					<tbody id="tbodyFeeServices">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalModifyFeeService" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-template-color" id="exampleModalLongTitle">Modificar servicio</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input type="text" class="form-control form-control-sm text-center shadow-sm" id="inputModifyFeeClient" readonly>
				</div>
				{# <div class="form-group mb-3">
					<label class="mb-1" for="selectListIva">Impuesto</label>
					<select class="custom-select custom-select-sm shadow-sm" id="selectListIva" onchange="changeIVA(this)" onkeypress="return keyPressCreateService(event)">
						<option id="1" value="0,00" selected="selected">0,00 (Exento de IVA)</option>
						<option id="2" value="10,00">10,00 (Gravado a Tasa Mínima)</option>
						<option id="3" value="22,00">22,00 (Gravado a Tasa Básica)</option>
					</select>
				</div> #}

				<div class="form-group mb-3">
					<div class="form-group">
						<label for="selectModifyFeeServices" class="mb-1">Servicios</label>
						<select id="selectModifyFeeServices" class="custom-select custom-select-sm shadow-sm">
						</select>
					</div>
				</div>
				<div class="form-group mb-3">
					{# <div class="form-group  w-100"> #}
					<label class="mb-1" for="textAreaServiceSelected">Descripcíon</label>
					<textarea class="form-control shadow-sm" id="textAreaServiceSelected" style="resize: none;" rows="2" maxlength="80" readonly></textarea>
					{# </div> #}
				</div>
				<div class="form-group mb-3">
					{# <div class="form-group row"> #}
					<label for="selectNewFeeMonth" class="mb-1">Periodo</label>
					{# <div class="col-sm-9"> #}
					<select id="selectModifyFeeMonth" class="custom-select custom-select-sm shadow-sm">
						<option selected value="0">Mensual</option>
						{% for period in periods %}
						{% if period == "B" %}
						<option value="22">Bimestral</option>
						{% elseif period == "T" %}
						<option value="33">Trimestral</option>
						{% elseif period == "S" %}
						<option value="66">Semestral</option>
						{% endif %}
						{% endfor %}
						<option value="1">Enero</option>
						<option value="2">Febrero</option>
						<option value="3">Marzo</option>
						<option value="4">Abril</option>
						<option value="5">Mayo</option>
						<option value="6">Junio</option>
						<option value="7">Julio</option>
						<option value="8">Agosto</option>
						<option value="9">Septiembre</option>
						<option value="10">Octubre</option>
						<option value="11">Noviembre</option>
						<option value="12">Diciembre</option>
					</select>
					{# </div> #}
					{# </div> #}
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="buttonModifyFeeServiceConfirm" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalInvoiceAllFeeService" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-template-color">Facturar cuotas</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="text-center" id="messageInvoiceAllService"></h5>
				<hr>	
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputDateEmittedInvoiceAllService">Fecha emisión</label>
						<input type="date" class="form-control form-control-sm text-center shadow-sm" id="inputDateEmittedInvoiceAllService" onchange="calculateExpirationDateAllService()">
					</div>
					<div class="form-group col-md-6">
						<label for="inputDateExpirationInvoiceAllService">Fecha vencimiento</label>
						<input type="date" class="form-control form-control-sm text-center shadow-sm" id="inputDateExpirationInvoiceAllService">
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger shadow" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-success shadow" id="inputConfirmationButtonInvoiceAllService" onclick="invoiceAllFeeService()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalCheckInFeeService">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="text-template-color">Facturar servicio</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="textCheckInFeeService" class="text-center"></p>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputDateEmittedInvoiceService">Fecha emisión</label>
						<input type="date" class="form-control form-control-sm text-center shadow-sm" id="inputDateEmittedInvoiceService" onchange="calculateExpirationDate()">
					</div>
					<div class="form-group col-md-6">
						<label for="inputDateExpirationInvoiceService">Fecha vencimiento</label>
						<input type="date" class="form-control form-control-sm text-center shadow-sm" id="inputDateExpInvoiceService">
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="btnConfirmNewFeeService" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalDeleteFeeService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="text-template-color">Borrar cuota</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="idParagraphFeeService" class="text-center"></p>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="btnConfirmDeleteFeeService" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalSeeVoucherFee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<button id="buttonExportVoucherFee" class="btn btn-sm background-template-color2 text-template-background shadow-sm ml-1"><i class="fas fa-print"></i> Imprimir</button>
				<button id="buttonDownloadVoucher" class="btn btn-sm ml-1 background-template-color2 text-template-background shadow-sm">Descargar <i class="fas fa-save"></i></button>
				<button id="buttonCancelVoucherFee" style="visibility: hidden;" class="btn btn-sm background-template-color2 text-template-background shadow-sm ml-1"><i class="fas fa-ban"></i> Anular</button>
				<button type="button" id="buttonCloseVoucherFee" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="seeVoucherIsAnuladoFee" class="alert-danger justify-content-center p-3 fade" style="border-left: 0.3rem solid;" hidden>
				<h6><i class="fas fa-info-circle mt-1 mr-2"></i>Este comprobante se encuentra anulado por DGI</h6>
				<p id="seeVoucherIsAnuladoMotivoFee"></p>
			</div>
			<div id="containerIframe" class="modal-body">
				<iframe id="frameSeeVoucherFee" frameborder="0" width="100%" style='pointer-events: none;'></iframe>
			</div>
		</div>
	</div>
</div>
{% include("modalCancelVoucher.twig") %}
{# {% include("buttonUp.twig") %} #}
{% include("progressBar.twig") %}
{% block script %}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/index.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/feeServices.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/accountState.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>
<script type="text/javascript">
	$(document).ready( function(){
		let heightwindow = ($(document).height() * 65) / 100;
		$('#containerTable').css('height', heightwindow+'px');
	});
	loadFeeServices();
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= ($(this)[0].scrollHeight) -4) {
			loadFeeServices();
		}
	});
</script>
{% endblock %}
{% endblock %}