{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div id="pointSaleSeccion" class="d-flex justify-content-center">
	<div class="card shadow mt-4 mb-2" style="min-width: 780px;">
		<div class="card-header d-flex justify-content-between background-template-color text-template-color font-italic p-3">
			<h5 class="mb-0">Punto de venta</h5>
			{% if systemSession.permission.CAJA == 'SI' %}
				<div id="sectionCaja" class="caja d-flex align-items-center"> <i class="fas fa-cash-register mr-2"></i> <h5 class="mb-0"> </h5> </div>
			{% endif %}
		</div>
		<div class="card-body">
			<div class="row" style="margin-right: 0; margin-left: 0;">
				<div class="col p-0">
					<div class="border rounded p-2 shadow-sm mb-1">
						<button
							id="buttonSetClient" 
							class="btn btn-sm background-template-color2 text-template-background shadow-sm" 
							style="max-width: 95%;" 
							title="Seleccionar cliente"
							data-toggle="modal" 
							data-target="#modalSetClientByButton">
								<i class="fas fa-user-plus"></i>
								<span>Consumidor final</span><div style="display: inline-block; margin-left: 3px;"> (Ins) <div>
						</button>
					</div>
					<div class="border rounded p-2 shadow-sm mb-1">
						<div class="d-flex justify-content-between  mb-2">
							{% if productsNoEntered == "SI" %}
							<button class="btn btn-sm background-template-color2 text-template-background shadow-sm" onclick="openModalAddProduct()" id="buttonAgregarArticulo" tabindex="8">Agregar Artículo (+)<i class="fas fa-cart-plus"></i></button>
							{% endif %}
							{% if listProducts == "SI" %}
						<button data-toggle="modal" class="btn btn-sm background-template-color2 text-template-background shadow-sm" onclick="openModalGetPrices('normal', 1)">Lista de Precios (Shift +)<i class="fas fa-cart-plus"></i></button>
							{% endif %}
						</div>

						<div id="containerTable" style="min-height: 330px;">
							<table class="table table-sm table-striped">
								<thead class="background-template-color text-template-color">
									<tr>
										<td class="text-left col-4" scope="col">Descripción</td>
										{# <td class="text-left w-50" scope="col">Detalle</td> #}
										<td class="text-center col-1"></td>
										<td class="text-right col-2" scope="col">Cantidad</td>
										<td id="headerTdDesc" class="text-right col-2" scope="col">Descuento</td>
										<td id="headerTdPrice" class="text-right col-3" scope="col">Precio</td>
									</tr>
								</thead>
								<tbody id="tbodyDetailProducts">
								</tbody>
							</table>
						</div>
					</div>
					<div class="border rounded p-2 shadow-sm">
						<span id="detailsPricesButton" onclick="showHideDetailsPrices()" class="d-flex justify-content-end" title="Ver precios en detalle">Detalles <i class="ml-2 fas fa-angle-down d-flex align-items-center"></i> </span>
						<div class="row pl-2 pr-2">
							<div class="flex-wrap align-content-between col pr-1 pl-1  d-none flex-row-reverse detailsPrices">
								<label for="inputPriceSale-gravado-basica" class="label-decoration-venta m-0 w-100"><b>Gravado tasa Básica:</b>
								</label>
								<input class="form-control form-control-sm text-right" type="float" readonly id="inputPriceSale-gravado-basica" value="0.00" tabindex="-1">
							</div>
							<div class="flex-wrap align-content-between col pr-1 pl-1  d-none flex-row-reverse detailsPrices">
								<label for="inputPriceSale-iva-basico" class="label-decoration-venta m-0 w-100"><b>IVA tasa Básica:</b>
								</label>
								<input class="form-control form-control-sm text-right" type="float" readonly id="inputPriceSale-iva-basico" value="0.00" tabindex="-1">
							</div>
							<div class="flex-wrap align-content-between col pr-1 pl-1  d-none flex-row-reverse detailsPrices">
								<label for="inputPriceSale-gravado-minima" class="label-decoration-venta m-0 w-100"><b>Gravado tasa Mínima:</b>
								</label>
								<input class="form-control form-control-sm text-right" type="float" readonly id="inputPriceSale-gravado-minima" value="0.00" tabindex="-1">
							</div>
							<div class="flex-wrap align-content-between col pr-1 pl-1  d-none flex-row-reverse detailsPrices">
								<label for="inputPriceSale-iva-minimo" class="label-decoration-venta m-0 w-100"><b>IVA tasa Mínima:</b>
								</label>
								<input class="form-control form-control-sm text-right" type="float" readonly id="inputPriceSale-iva-minimo" value="0.00" tabindex="-1">
							</div>
							<div class="flex-wrap align-content-between col pr-1 pl-1  d-none flex-row-reverse detailsPrices">
								<label for="inputPriceSale-nogravado" class="label-decoration-venta m-0 w-100"><b>No gravado:</b>
								</label>
								<input class="form-control form-control-sm text-right" type="float" readonly id="inputPriceSale-nogravado" value="0.00" tabindex="-1">
							</div>
						</div>
						<div class="row">
							<div class="adenda-section col-8 pr-2">
								<label for="adenda" class="label-decoration-venta"><b>Adenda:</b>
								</label>
								<textarea id="adenda" rows="1" class="form-control">{{adenda}}</textarea>
							</div>
							<div class="totales-section col-4 pl-2">
								<div class="d-flex flex-row-reverse">
									<label for="inputPriceSale" class="label-decoration-venta w-100"><b>Total:</b>
										<input class="form-control text-right mt-2" type="float" readonly id="inputPriceSale" value="0.00" tabindex="-1">
									</label>
								</div>
							</div>
						</div>
					</div>

					{# <div class="d-flex flex-row-reverse">
						{% if adenda is not empty %}
						<div id="step-3" class="form-group w-100">
						{% else %}
						<div id="step-3" class="form-group w-100 d-none">
						{% endif %}
							<label for="inputAdenda">Adenda</label>
							<textarea id="inputAdenda" class="form-control shadow-sm rounded-0" maxlength="200" rows="3">{{adenda}}</textarea>
						</div>
					</div> #}
					<div class="mt-3">
						<button id="discardSales" class="btn btn-secondary shadow-sm" onclick="discardCart()"><span class="maintext"> Descartar </span>  <span class="shortcut"> (Ctrl + Supr) </span></button>
						<div style="float:right;">
							{# <button id="confirmSaleBtn" class="btn btn-success shadow-sm mt-3" onclick="" tabindex="9" style="float:right;"><span class="maintext"> Confirmar </span> <span class="shortcut"> (Ctrl + Fin) </span></button> #}
							<button id="continueSaleBtn" class="btn btn-success shadow-sm" onclick="continueSale()" tabindex="9" style="float:right;"><span class="maintext"> Continuar </span> <span class="shortcut"> (Enter) </span></button>
							<button id="fastSaleConfirm" class="btn btn-info shadow-sm mr-2 d-none" onclick="superFastSale()" tabindex="10" style="float:right;" title="Venta rápida (contado, efectivo, consumidor final)"><span class="maintext"> <i class="fas fa-bolt"></i> <i class="fas fa-dollar-sign"></i> </span>  <span class="shortcut"> (Fin) </span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include("modalAddProduct.twig") %}
{% include("modalDeleteArticle.twig") %}
{% include("modalListPrice.twig") %}
{% include("modalSeeVoucher.twig") %}
{% include("modalSetClient.twig") %}
{% include("modalsPointSale.twig") %}
{% include("modalSetPayments.twig") %}
{% include("modalCancelVoucher.twig") %}
{% include("progressBar.twig") %}
{% block script %}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/index.js{{ versionerp }}"></script>
{# <script type="text/javascript" src="{{ path_for('Start')}}scripts/sales.js{{ versionerp }}"></script> #}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/pointsaleClientSection.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/accountState.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/managerDataSession.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>

<script type="text/javascript" src="{{ path_for('Start') }}scripts/pointsale.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/keyHandler.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/modalHandler.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/cartManagement.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/POS.js{{ versionerp }}"></script>

<script type="text/javascript">

	$('#inputDateVoucher').val(getCurrentDate());
	$(document).ready( function(){
//		console.log = function() {};
		let heightwindow = ($(document).height() * 40) / 100;
		$('#containerTable').css('height', heightwindow+'px');
		// loadProductsInSession();
		// getAllConfigurations(); // TRAE TODAS LAS CONFIGURACIONES NECESARIAS
		// getCotizacionDolar();
		// loadCart();
		// Ejecutar las funciones
		async function initializeData() {
			mostrarLoader(true)
			await Promise.all([
				getAllConfigurations(),
				getCotizacionDolar()
			]);
			mostrarLoader(false)

			loadCart();
			configCaja();
		}
		// Llamar la función
		initializeData();
		
		// MODALES EVENTOS --------------------
		

		// $('#modalSetClientByButton').on('hidden.bs.modal', function (e) {
		// 	$('#buttonSetClient').trigger('focus')
		// })
		// ------------------------------------
	});
</script>
{% endblock %}
{% endblock %}