{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card shadow mt-4 mb-2" style="min-width: 350px; width: 100%;">
		<div class="card-header d-flex justify-content-between background-template-color text-template-color font-italic">
			<h5>Lista de artículos</h5>
			{% if systemSession.superUser == 'SI' %}
			<div>
				<button type="button" class="btn background-template-color2 btn-sm shadow-sm" data-toggle="modal" data-target="#modalImportArticles"> <i class="fas fa-cloud-upload-alt"></i> Importar </button>
			</div>
			{% endif %}
		</div>
		<div class="card-body pt-2">
			<div class="d-flex justify-content-between mb-1">
				<div class="input-group w-50 shadow-sm ml-0 mb-1">
					{# <input id="inputToSearch" type="text" class="form-control form-control-sm shadow-sm" onchange="searchProduct()" onkeyup="this.onchange()" placeholder="Buscar artículo..."> #}
					<input id="inputToSearch" type="text" class="form-control form-control-sm shadow-sm" onchange="searchProduct(event)" onkeyup="searchProduct(event)" placeholder="Buscar artículo...">
					<button id="searchBarCleaner" title="Borrar busqueda" class="ml-2 btn background-template-color2 btn-sm shadow-sm d-none" onclick="cleanSearchBar()"> <i class="fas fa-backspace"></i> </button>
				</div>
				<div class="d-flex">
					{# <div class="col mb-1" style="min-width: 170px; max-width: 250px;"> #}
						<select id="selectHeadingPriceList" class="custom-select custom-select-sm background-template-color2 text-template-background shadow-sm mr-1" onchange="searchProductByHeading()" style="min-width: 100px; max-width: 250px; cursor: pointer;">
						{% for rubro in listHeadings %}
							<option value="{{ rubro.idRubro }}">{{ rubro.rubro }}</option>
						{% endfor %}
						</select>
					{# </div> #}
					<button class="btn btn-sm background-template-color2 text-template-background shadow-sm mb-1" type="button" onclick="openModalNewProduct('{{stockManagement}}')" style="min-width: 90px "><i class="fas fa-plus-circle"></i> Nuevo</button>
				</div>
			</div>
			<div id="containerTable" style="max-height: 65vh;">
				<table class="table table-striped">
					<thead class="background-template-color text-template-color" style="">
						<tr>
							{# <th class="text-left" scope="col" id="priceListTableColDescription" >Descripcíon</th> #}
							<th class="text-left notShowInPhone col-5" scope="col" id="priceListTableColDetail" >Detalle</th>
							{% if stockManagement == 'SI' %}
								<th class="text-right" scope="col" id="stock" >Stock</th>
							{% endif %}
							{# <th class="text-left notShowInPhone" scope="col" id="priceListTableColBrand" >Marca</th> #}
							<!--th class="text-left notShowInPhone" scope="col" id="" >Rubro</th-->
							<!--th class="text-center notShowInPhone" scope="col" id="" ></th-->
							<th class="text-right notShowInPhone" scope="col" id="priceListTableColIva"  >IVA</th>
							<th class="text-right notShowInPhone" scope="col" id="priceListTableColCost" >Costo</th>
							<th class="text-right" scope="col" id="priceListTableColAmount" >Importe</th>
							<!--th class="text-right notShowInPhone" scope="col" id="" >Descuento</th-->
							<th class="text-center" style="min-width: 7em;" scope="col" id="priceListTableColAccion">Acción</th>
						</tr>
					</thead>
					<tbody id="tbodyProducts">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalDeleteProduct" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-template-color">Borrar artículo</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="messageDeleteProduct" class="text-center"></p>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="btnConfirmDeleteProduct" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalCreateNewRubro" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-template-color">Insertar nuevo Rubro</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="inputRubro">Rubro</label>
				<input type="text" class="form-control form-control-sm shadow-sm" id="inputRubro" onkeypress="return keyPressProduct(event, this.value, 30)" required="required" tabindex=1>
			</div>
			<div class="modal-footer justify-content-between">
				<button id="btnCancelNewRubro"type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="btnConfirmNewRubro" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalCreateModifyProduct" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-template-color" id="titleModalCreateModifyProduct"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex=1>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="inputDescription">Descripción</label>
					<input type="text" class="form-control form-control-sm shadow-sm" id="inputDescription" onkeypress="return keyPressProduct(event, this.value, 50)" required="required" tabindex=2>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputBrand">Marca</label>
						<input type="text" class="form-control form-control-sm shadow-sm" id="inputBrand" onkeypress="return keyPressProduct(event, this.value, 30)" tabindex=3>
					</div>
					<div class="form-group col-md-4">
						<label for="selectRubro">Rubro</label>
						<button class="btn btn-sm mb-1" type="button" onclick="openModalNewRubro()" style="height:24px;width: 24px;padding: .1rem;background-color: transparent;"><i class="fas fa-plus-circle"></i></button>
						{# <i class="fas fa-plus-circle"></i> #}
						<select id="selectRubro" class="custom-select custom-select-sm shadow-sm " required tabindex=4>
						{% for rubro in listHeadings %}
							<option value="{{ rubro.idRubro }}">{{ rubro.rubro }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="inputBarcode">Código de barra</label>
						<input type="text" class="form-control form-control-sm shadow-sm" id="inputBarcode" onkeypress="return keyPressProduct(event, this.value, 20)" tabindex=5>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-8">
						<div class="form-group">
							<label for="textAreaDetail">Detalle</label>
							<textarea class="form-control shadow-sm" id="textAreaDetail" style="resize: none; height: 70px;" rows="2" maxlength="80" onkeypress="return keyPressProduct(event, this.value, 80)" tabindex=6></textarea>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputUnidadVenta" class="col-form-label col-form-label-sm" title="Define si el producto se venderá por unidad, peso o litros. Esto afecta cómo se ingresa la cantidad.">Unidad de venta</label>
							<select class="custom-select custom-select-sm shadow-sm text-center" id="inputUnidadVenta" size="3" onkeypress="keyPressProduct(event)" tabindex=6>
								<option value="Unidad">Unidad</option>
								<option value="Peso">Peso (kg)</option>
								<option value="Litro">Volumen (litro)</option>
							</select>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center mt-2">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="typeCoin" id="typeCoinUYU" value="UYU" tabindex=7>
						<label class="form-check-label" for="typeCoinUYU">Pesos Uruguayos</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="typeCoin" id="typeCoinUSD" value="USD" tabindex=8>
						<label class="form-check-label" for="typeCoinUSD">Dólares</label>
					</div>
				</div>
				<div class="form-row mt-2">
					<div class="form-group col">
						<label for="inputCost">Costo</label>
						<input type="text" class="form-control form-control-sm text-center shadow-sm" id="inputCost" onkeypress="return keyPressProduct(event, null, null)" required="required" tabindex=9>
					</div>
					<div class="form-group col">
						<label for="inputCoefficient">Coeficiente (% ganancia)</label>
						<input type="text" class="form-control form-control-sm text-center shadow-sm" id="inputCoefficient" onkeypress="return keyPressProduct(event, null, null)" required="required" tabindex=10>
					</div>
					<div class="form-group col">
						<label for="inputDiscount">Descuento</label>
						<input type="number" min="0" max="100" class="form-control form-control-sm text-center shadow-sm" id="inputDiscount" onkeypress="return keyPressProduct(event, null, null)" required="required" tabindex=11>
					</div>
				</div>
				<div class="form-row mt-2">
					<div class="form-group">
						<label for="selectIVA">Impuesto</label>
						<select class="custom-select custom-select-sm" id="selectIVA" required tabindex=12>
							{% for iva in listIVA %}
							<option name="{{ iva.valor }}}" value="{{ iva.idIVA }}">{{ iva.valor }} ({{ iva.nombre }})</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group col">
						<label for="inputPriceNoIVA">Subtotal</label>
						<input type="text" class="form-control form-control-sm text-center shadow-sm" id="inputPriceNoIVA" readonly>
					</div>
					<div class="form-group col">
						<label for="inputPriceFinal">Importe</label>
						<input type="text" class="form-control form-control-sm text-center shadow-sm" id="inputPriceFinal" onkeypress="return keyPressProduct(event, null, null)" required="required" tabindex=13>
					</div>
				</div>
				{% if stockManagement == 'SI' %}
					<hr>
					<div class="form-row mt-2">
						<div class="form-group col">
							<label for="inputInventory">Stock</label>
							<input type="number" min="0" class="form-control form-control-sm text-center shadow-sm" id="inputInventory" onkeypress="return keyPressProduct(event, null, null)" tabindex=14>
						</div>
						<div class="form-group col">
							<label for="inputMinInventory">Stock Mínimo</label>
							<input type="number" class="form-control form-control-sm text-center shadow-sm" id="inputMinInventory" onkeypress="return keyPressProduct(event, null, null)" tabindex=15>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="btnConfirmProduct" type="button" class="btn btn-success shadow-sm" tabindex=14>Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalImportArticles" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-template-color">Importar Productos</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="modal-body">
					<div class="form-group">
						<div class="custom-control custom-radio mb-3">
							<input type="radio" id="radioDBF" name="importType" class="custom-control-input" checked>
							<label class="custom-control-label" for="radioDBF">Importar desde archivo .DBF</label>
						</div>
						<div id="dbfSection" class="mb-3 pl-4">
							<div class="input-group">
								<div class="custom-file">
									<label class="custom-file-label" for="dbfFileInput" aria-describedby="inputGroupFileAddon02">Seleccionar archivo .DBF</label>
									<input type="file" class="custom-file-input" id="dbfFileInput" accept=".dbf" originalLabel="Seleccionar archivo .DBF">
								</div>
							</div>
						</div>
						
						<div class="custom-control custom-radio mb-3" >
							<input type="radio" id="radioXLSX" name="importType" class="custom-control-input" disabled="true">
							<label class="custom-control-label" for="radioXLSX">Importar desde archivo .XLSX</label>
						</div>
						<div id="xlsxSection" class="mb-3 pl-4" style="display: none;">
							<div class="input-group">
								<div class="custom-file">
									<label class="custom-file-label" for="xlsxFileInput" aria-describedby="inputGroupFileAddon02">Seleccionar archivo .XLSX</label>
									<input type="file" class="custom-file-input" id="xlsxFileInput" accept=".xlsx" originalLabel="Seleccionar archivo .XLSX">
									{# <label class="form-label" for="xlsxFileInput">Seleccionar archivo .XLSX</label>
									<input type="file" class="form-control form-control-sm" id="xlsxFileInput" accept=".xlsx"> #}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer justify-content-between">
				<button id="btnCancelImportArticles" type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cancelar</button>
				<button id="btnConfirmImportArticles" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

{# {% include("buttonUp.twig") %} #}
{% block script %}
<script type="text/javascript" src="{{ path_for('Start')}}scripts/index.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start')}}scripts/priceList.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>
<script type="text/javascript">
	{# $(document).ready( function(){
		let heightwindow = ($(document).height() * 65) / 100;
		$('#containerTable').css('height', heightwindow+'px');
	});
	loadPriceList();
	// loadHeadings(); 
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= ($(this)[0].scrollHeight) - 4) {
			loadPriceList();
		}
	}); #}

	$(document).ready( function(){
		let heightwindow = ($(document).height() * 65) / 100;
		$('#containerTable').css('height', heightwindow+'px');
	});
	loadPriceList();
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight - 2) {
			loadPriceList();
		}
	});

</script>
{% endblock %}
{% endblock %}